.kyohiiro {
  color: #ff251e !important
}

.bg-kyohiiro {
  background: #ff251e !important
}

.shinonomeiro {
  color: #f19072 !important
}

.bg-shinonomeiro {
  background: #f19072 !important
}

.nanohanairo {
  color: #ffec47 !important
}

.bg-nanohanairo {
  background: #ffec47 !important
}

.sanaeiro {
  color: #67a70c !important
}

.bg-sanaeiro {
  background: #67a70c !important
}

.amairo {
  color: #2ca9e1 !important
}

.bg-amairo {
  background: #2ca9e1 !important
}

.utsushiiro {
  color: #3d6eda !important
}

.bg-utsushiiro {
  background: #3d6eda !important
}

.botaniro {
  color: #e7609e !important
}

.bg-botaniro {
  background: #e7609e !important
}

.ayameiro {
  color: #674196 !important
}

.bg-ayameiro {
  background: #674196 !important
}

.otomeiro {
  color: #f3cccc !important
}

.bg-otomeiro {
  background: #f3cccc !important
}

.momijiiro {
  color: #a61017 !important
}

.bg-momijiiro {
  background: #a61017 !important
}

.nibiiro {
  color: #9ea1a3 !important
}

.bg-nibiiro {
  background: #9ea1a3 !important
}

.kurohairo {
  color: #0d0d0d !important
}

.bg-kurohairo {
  background: #0d0d0d !important
}

.sakurairo {
  color: #fef4f4 !important
}

.bg-sakurairo {
  background: #fef4f4 !important
}

.natsukazeiro {
  color: transparent !important
}

.bg-natsukazeiro {
  background: transparent !important
}
